<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>
<body>
	<img class="wave" src="./assets/wave.png">
	<div class="container">
		<div class="img">
			<img src="./assets/bg.svg">
    </div>
    <div>
        <img src="./assets/avatar.svg" style="height: 80px;margin-left: 120px;margin-top: 10px">
        <h2 class="title">Welcome</h2>
      
         <button style="width:200px" class="btn btn-success" routerLink="/register">Login</button>
         <button style="width:200px" class="btn btn-success" routerLink="/register">Register</button>
      
    <router-outlet></router-outlet>
  </div>
  </div>
</body>
</html>  