<h1 mat-dialog-title> Update Profile</h1>
  <div mat-dialog-content>
    <p>
      <mat-form-field >
          <mat-label>Enter Your Name:</mat-label>
          <input matInput [(ngModel)]="data.name">
      </mat-form-field>
      </p>
      <p>
      <mat-form-field>
          <mat-label>Enter Mobile No.:</mat-label>
          <input matInput [(ngModel)]="data.mob">
      </mat-form-field>
     </p>
     <p>
     <mat-form-field>
        <mat-label>Enter Email ID:</mat-label>
        <input matInput [(ngModel)]="data.email">
    </mat-form-field>
    </p>
    <p>
    <mat-form-field>
        <mat-label>Enter Address:</mat-label>
        <input matInput [(ngModel)]="data.address">
    </mat-form-field>
    </p>
    <p>
    <mat-form-field>
        <mat-label>Enter Password:</mat-label>
        <input matInput [(ngModel)]="data.password">
    </mat-form-field>
    </p>
    </div>
  <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">No Thanks</button>
      <button mat-button [mat-dialog-close]="data.name">Ok</button>
    </div>
    <!-- , data.mob, data.email, data.address, data.password" -->
    <!-- [mat-dialog-close]="data.name" -->