<h4 class="dispaly-4">Update Profile</h4>
<hr>
<form #form="ngForm">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>Username</label>
            <input type="text" name="username" #username="ngModel" [(ngModel)]="currentData.username" class="form-control" readonly>
        </div>
        <div class="form-group col-md-3">
                <label>Registration Id</label>
                <input type="text" name="registrationId" #registrationId="ngModel" [(ngModel)]="currentData.registrationId" class="form-control" readonly>
            </div>
        <div class="form-group col-md-6">
            <label>Name</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="currentData.name" class="form-control" required
            [class.is-invalid]="name.errors?.required">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Email</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="currentData.email" class="form-control" required
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [class.is-invalid]="email.errors?.required || email.errors?.pattern">
        </div>
        <div class="form-group col-md-6">
            <label>Mobile Number</label>
            <input type="number" name="mobileNumber" #mobileNumber="ngModel" [(ngModel)]="currentData.mobileNumber" class="form-control" required
            pattern="[789][0-9]{9}" [class.is-invalid]="mobileNumber.errors?.required || mobileNumber.errors?.pattern">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Address</label>
            <input type="text" name="address" #address="ngModel" [(ngModel)]="currentData.address" class="form-control" required
            [class.is-invalid]="address.errors?.required">
        </div>
        <div class="form-group col-md-6">
            <label>City</label>
            <input type="text" name="city" #city="ngModel" [(ngModel)]="currentData.city" class="form-control" required
            [class.is-invalid]="city.errors?.required">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Company Name</label>
            <input type="text" name="companyName" #companyName="ngModel" [(ngModel)]="currentData.companyName" class="form-control" required
            [class.is-invalid]="companyName.errors?.required">
        </div>
        <div class="form-group col-md-6">
            <label>Company Information</label>
            <input type="text" name="companyInfo" #companyInfo="ngModel" [(ngModel)]="currentData.companyInfo" class="form-control" required
            [class.is-invalid]="companyInfo.errors?.required">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-dark" [disabled]="form.invalid" [mat-dialog-close]="currentData"><i class="fa fa-edit"></i> Update</button>
        <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
    </div>
</form>
