<mat-card>
<div class="header">
  Create Product
</div>
<mat-card-content>
 
 <p>
   <mat-form-field>
    <mat-label>Product ID:</mat-label>
    <input type="number" placeholder="Enter Product ID" matInput>
   </mat-form-field>
  </p>

  <p>
    <mat-form-field>
     <mat-label>Product Name:</mat-label>
     <input type="text" placeholder="Enter Product Name" matInput>
    </mat-form-field>
   </p>

   <p>
    <mat-form-field>
     <mat-label>Select Type</mat-label>
     <mat-select>
       <mat-option value="options">Ayurvedic</mat-option>
       <mat-option value="options">Allopathic</mat-option>
       <mat-option value="options">Homeopathic</mat-option>

     </mat-select>
     
    </mat-form-field>
   </p>

   <p>
    <mat-form-field style="align-items: center;">
     <mat-label>Batch No:</mat-label>
     <input type="number" placeholder="Enter Batch No." matInput>
    </mat-form-field>
   </p>

   <p>
    <mat-form-field>
     <mat-label>Color:</mat-label>
     <input type="text" placeholder="Enter Color" matInput>
    </mat-form-field>
   </p>
 
   <p>
    <mat-form-field>
     <mat-label>Mfg Date:</mat-label>
     <input type="date" placeholder="Enter Mfg Date" matInput>
    </mat-form-field>
   </p>

   <p>
    <mat-form-field>
     <mat-label>Expiry Date:</mat-label>
     <input type="date" placeholder="Enter Expiry Date" matInput>
    </mat-form-field>
   </p>
 
   <p>
    <mat-form-field>
     <mat-label>Unit Price:</mat-label>
     <input type="number" placeholder="Enter Unit Price" matInput>
    </mat-form-field>
   </p>

   
 
</mat-card-content>  
<mat-card-actions>
  <button class="primary" >Create Product</button>
  
</mat-card-actions>

</mat-card>