<mat-card>
<div class="header">
  Create Product
</div>
<mat-card-content>
  <form #form="ngForm">
  <div class="form-row">
    <div class="form-group col-md-6">
        <label>Product ID:</label>
        <input type="number" name="productId" class="form-control">
    </div>
    <div class="form-group col-md-6">
            <label>Product Name:</label>
            <input type="text" name="productName" class="form-control" >
        </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
        <label>Select Type</label><br>
        <select class="selected">
          <option value="options">Choose Type</option>
          <option value="options">Ayurvedic</option>
          <option value="options">Allopathic</option>
          <option value="options">Homeopathic</option>
        </select>
      </div>
    <div class="form-group col-md-6">
        <label>Color</label>
        <input type="text" name="color" class="form-control" >
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
        <label>Mfg Date:</label>
        <input type="date" name="mfgDate" class="form-control" required>
    </div>
    <div class="form-group col-md-6">
        <label>Expiary Date:</label>
        <input type="date" name="expDate"  class="form-control" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
        <label>Batch No.:</label>
        <input type="number" name="batch"  class="form-control" required>
    </div>
    <div class="form-group col-md-6">
        <label>Unit Price:</label>
        <input type="number" name="unitPrice"  class="form-control" required>
    </div>
  </div>
  <button type="submit" class="btn btn-dark" ><i class="fa fa-edit"></i> Create Product</button>
</form>
</mat-card-content>
</mat-card>
