.mat-elevation-z8 {
   
  width: 100%;
  height: 100%;
}
.pieChart{
  margin: 20px;
  width: 70%;
  height: 50%;
}
.incoming-order{
  margin-left: 20px;
}
.table1{
  width: 1080px;
}
.outgoing-order{
  margin-left: 20px;
}
.mat-elevation-z9{
 
  width: 100%;
  height: 100%;
}