.mat-elevation-z8 {
   
  width: 100%;
  height: 100%;
}
.pieChart{
  margin: 20px;
  width: 70%;
  height: 50%;
}
.incoming-order{
  margin-left: 20px;
}
.table1{
  width: 99%;
}
.outgoing-order{
  margin-left: 20px;
}
.mat-elevation-z9{
 
  width: 100%;
  height: 100%;
}

.btn{
	display: block;
	width: 20%;
	height: 30px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
  margin-bottom: 0px;
  margin-left: 80%;
}