<mat-toolbar>
  <mat-toolbar-row class ="toolbar">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color= "white">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
   <span>Distributor</span>
   <span class="fill"></span>
   <button mat-button><mat-icon>account_box</mat-icon>User Profile</button>
    <button mat-button><mat-icon>logout</mat-icon>Logout</button>
  
  </mat-toolbar-row>
 
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav class ="side"#drawer mode="side" opened role="navigation">
    <mat-nav-list class="list">
      <a mat-list-item routerLink='/first' ><mat-icon> dashboard </mat-icon>  Dashboard </a>
      <a mat-list-item routerLink='/second'><mat-icon> gavel</mat-icon> Book Order</a>
      <a mat-list-item routerLink='/third'><mat-icon> menu_book</mat-icon> Your Orders</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" opened>
    <a mat-list-item routerLink='/first'>First Component</a>
    <a mat-list-item routerLink='/second'>Second Component</a>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>-->
