.example-container {
  height: 100%;
  margin: 0px;
  
}
.side{
  margin-top: 0px;
  background-color: rgb(149, 149, 121);
}
.toolbar{
  background-color: #38d39f;
  color: white;
}
.list{
  color: white;
}

.fill{
  flex: 1 1 auto;
}