.card1{
    max-width: fit-content;
    margin-top: 10px;
    margin-left: 20px;
}
.card2{
    max-width: fit-content;
    margin-top: 30px;
    margin-left: 50px;

}
.card3{
    max-width: 60%;
    margin-top: 30px;
    margin-left: 15%;
}
.orderButton{
    margin-left: 20%; 
	border-radius: 30px;
	background-color: rgb(37, 136, 248);
	color: white;
	cursor: pointer;
    
}
.showProducts{
    margin-left: 60%;
    border-radius: 30px;
	background-color: rgb(37, 136, 248);
	color: white;
	cursor: pointer;
}
.labelvalue{
    margin-left: 20px;
}