<div class="login-content">
<form #frm="ngForm" (ngSubmit)="addUser(frm)">
        <mat-select placeholder = "role" 
           [(ngModel)] = "roleType" name = "addKarRe" required>
           <mat-option *ngFor = "let stakeholder of stakeholders" 
              [value] = "stakeholder">
              {{stakeholder}}
           </mat-option>
        </mat-select>
   <div class="input-div one;form-group">
      <div class="i">
           <mat-icon>person</mat-icon>
      </div>
      <div class="div">
          <input #name1User="ngModel" required pattern="[a-zA-Z ]{2,}" type="text" class="input" name="name" placeholder="Name" class="form-control" ngModel>
      </div>
   </div>
   <div *ngIf="name1User.touched">
     <div class="abc" *ngIf="name1User.errors?.required">
        Name is required!
     </div>
     <div class="abc" *ngIf="name1User.errors?.pattern">
        Name is invalid!
     </div>
   </div>
   <div class="input-div one;form-group">
      <div class="i"> 
           <mat-icon>call</mat-icon>
      </div>
      <div class="div">
         <input #mobileUser="ngModel" required type="number" pattern="[789][0-9]{9}"
         class="input" name="mobileNumber" placeholder="Mobile Number" class="form-control" ngModel>
     </div>
  </div>
  <div *ngIf="mobileUser.touched">
     <div class="abc" *ngIf="mobileUser.errors?.required">
        Number is required!
     </div>
     <div class="abc" *ngIf="mobileUser.errors?.pattern">
        Number is invalid!
     </div>
   </div>
  <div *ngIf="roleType=='Customer'">
  <div class="input-div one;form-group">
      <div class="i"> 
           <mat-icon>location_on</mat-icon>
      </div>
      <div class="div">
         <input #addressUser="ngModel" required pattern="[a-zA-Z0-9 ]*[a-zA-Z][a-zA-Z0-9 ]*" type="address" class="input" name="address" placeholder="Address" class="form-control" ngModel>
     </div>
  </div>
  <div *ngIf="addressUser.touched">
     <div class="abc" *ngIf="addressUser.errors?.required">
        Address is required!
     </div>
     <div class="abc" *ngIf="addressUser.errors?.pattern">
        Address is invalid!
     </div>
   </div>
  </div>
  <div *ngIf="roleType=='Pharmacist' || roleType=='Manufacturer'">
  <div class="input-div one;form-group">
     <div class="i"> 
           <mat-icon>location_on</mat-icon>
     </div>
     <div class="div">
        <input #locationUser="ngModel" required pattern="[a-zA-Z0-9 ]*[a-zA-Z][a-zA-Z0-9 ]*" type="text" class="input" name="location" placeholder="Location" class="form-control" ngModel>
     </div>
  </div>
  <div *ngIf="locationUser.touched">
     <div class="abc" *ngIf="locationUser.errors?.required">
        Location is required!
     </div>
     <div class="abc" *ngIf="locationUser.errors?.pattern">
        Location is invalid!
     </div>
   </div>
  </div>
  <div class="input-div pass;form-group">
      <div class="i"> 
           <mat-icon>lock</mat-icon>
      </div>
      <div class="div">
         <input #pass1User="ngModel" required type="password" pattern="^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{8,}$" 
         class="input" name="password" placeholder="Password" class="form-control" ngModel>
     </div>
  </div>
  <div *ngIf="pass1User.touched">
     <div class="abc" *ngIf="pass1User.errors?.required">
        Password is required!
     </div>
     <div class="abc" *ngIf="pass1User.errors?.pattern">
        Password is invalid!
     </div>
   </div>
   <div *ngIf="roleType=='Manufacturer'">
  <div class="input-div one;form-group">
     <div class="i"> 
           <mat-icon>transfer_within_a_station</mat-icon>
     </div>
     <div class="div">
        <input #transUser="ngModel" required type="text" pattern="[a-zA-Z ]{2,}" class="input" name="transportAgency" placeholder="Transport Agency" class="form-control" ngModel>
     </div>
  </div>
  <div *ngIf="transUser.touched">
     <div class="abc" *ngIf="transUser.errors?.required">
        Agency is required!
     </div>
     <div class="abc" *ngIf="transUser.errors?.pattern">
        Agency is invalid!
     </div>
   </div>
   </div>
   <div *ngIf="roleType=='Manufacturer'">
  <div class="input-div one;form-group">
     <div class="i"> 
           <mat-icon>time_to_leave</mat-icon>
     </div>
     <div class="div">
        <input #modeUser="ngModel" required type="text" pattern="[a-zA-Z ]{2,}" class="input" name="modeOfTransport" placeholder="Mode of Transport" class="form-control" ngModel>
     </div>
  </div>
  <div *ngIf="modeUser.touched">
     <div class="abc" *ngIf="modeUser.errors?.required">
        Mode is required!
     </div>
     <div class="abc" *ngIf="modeUser.errors?.pattern">
        Mode is invalid!
     </div>
   </div>
   </div>
  <mat-form-field *ngIf="roleType=='Pharmacist' || roleType=='Distributer' || roleType=='Manufacturer'">
     <mat-select placeholder = "Form Type" 
        [(ngModel)] = "formType" name = "register" required>
        <mat-option *ngFor = "let form1 of forms" 
           [value] = "form1">
           {{form1}}
        </mat-option>
     </mat-select>
  </mat-form-field>
  <div *ngIf="roleType=='Pharmacist' || roleType=='Distributer' || roleType=='Manufacturer'">
  <div class="input-div one;form-group">
     <div class="i"> 
           <mat-icon>description</mat-icon>
     </div>
     <div class="div">
        <input #licenceUser="ngModel" required type="number" pattern="[0-9]+" class="input" name="licenceNumber" placeholder="Licence Number" class="form-control" ngModel>
     </div>
  </div>
  <div *ngIf="licenceUser.touched">
     <div class="abc" *ngIf="licenceUser.errors?.required">
        Licence is required!
     </div>
     <div class="abc" *ngIf="licenceUser.errors?.pattern">
        Licence is invalid!
     </div>
   </div>
   </div>
  <button (click)="gotoLoginPage()" type="submit" class="btn btn-success" value="Register" [disabled]="frm.invalid">Register</button>
</form>
</div>