<mat-dialog-content>
<table class="table table-borderless">
  <thead class="thead-light">
    <th>Sr. No.</th>
    <th>Product</th>
    <th>Unit Price</th>
    <th>Quantity</th>
    <th>Total Amount</th>
  </thead>
  <tbody>
    <tr *ngFor="let product of data1;let i=index">
      <td>{{i+1}}</td>
      <td>{{product.productName}}</td>
      <td>{{product.unitPrice}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.totalAmount}}</td>
    </tr>
  </tbody>
</table>
</mat-dialog-content>
<div class="form-group">
    <button style="float: right;" type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
</div>