
.primary{
	display: block;
	height: 40px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-color: rgb(37, 136, 248);
	background-size: 200%;
	font-size: 1rem;
	color: white;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	transition: .5s;
	
}

mat-label{
	color: black;
	font-size: 17px;
}

.input{
	color: rgb(43, 42, 42);
	font-size: 17px;
}

mat-form-field{
	width:60%;
	background-color: rgb(240, 240, 240);
	height: 55px;
	margin-bottom: 30px;
}
.heading{
	max-width: 100%;
	max-height: max-content; 
	background-color: #38d39f; 
	color: #fff;
}
label{
	display: block;
    font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}
.profile{
	
	width: 60%;
	height: 100%;
	margin-top: 20px;
	margin-left: 20px;
	text-align: center;
	
}

.profile_pic{
	margin-top: 20px;
	margin-left: 20px;
	max-width: fit-content;
	height: 250px;
}
.mat-card-image{	
	width: 200px;
	height: 200px;
	
	
}
.container{
	flex-flow: row wrap;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
	display: flex;
	
}
.div1{
	flex: 1 1 15%;
	box-sizing: border-box;
	max-width: 30%;
}
.div2{
	flex: 1 1 70%;
	box-sizing: border-box;
	max-width: 90%;
	text-align: center;
}
.divider{
	width: 100%;
	height: 1px;
	background: #ccc;
  }