<div class="row">
  <div class="col-md-3"  style="margin-top: 10px; margin-left: 10px;">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">User Profile</h5>
      </div>
      <div class="card-body" style="text-align: center;">
        <div class="author">
            <img class="avatar" src="assets/avatar.svg" alt="...">
            <h5 class="title">Distributor 1</h5>
       </div>
       <p>
         Cipla
       </p>
        <p class="description text-center">
          Hadapsar, Pune
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-8" style="margin-top: 10px;">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Company Name</label>
                <input type="text" class="form-control" disabled="" placeholder="Company" value="Cipla">
              </div>
            </div>
            <div class="col-md-3 px-1">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" placeholder="Username" value="DB123">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="Company" value="Ram">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Last Name</label>
                <input type="text" class="form-control" placeholder="Last Name" value="Sharma">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" placeholder="Home Address" value="Hadapsar, Pune">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" placeholder="City" value="Pune">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" placeholder="Country" value="India">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Mobile Number</label>
                
                <input type="number" class="form-control" placeholder="Mobile Number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Company Information</label>
                <textarea class="form-control textarea">Distriburion of different medicines</textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
