<div class="login-content">
<form #frm2="ngForm" (ngSubmit)="login(frm2)">
   <div class="input-div one;form-group" style="margin-top: 20px">
      <div class="i">
           <mat-icon>person</mat-icon>
      </div>
      <div class="div">
          <input #nameUser="ngModel" required pattern="(MF|DB|PH|CM)[0-9]+" type="text" class="input" name="username" placeholder="Username" class="form-control" ngModel>
      </div>
   </div>
   <div *ngIf="nameUser.touched">
     <div class="abc" *ngIf="nameUser.errors?.required">
        Username is required!
     </div>
     <div class="abc" *ngIf="nameUser.errors?.pattern">
        Username is invalid!
     </div>
   </div>
   <div class="input-div pass;form-group">
      <div class="i"> 
           <mat-icon>lock</mat-icon>
      </div>
      <div class="div">
         <input #passUser="ngModel" required pattern="^(?=.*?[A-Z])(?=(.*[a-z]){1,})(?=(.*[\d]){1,})(?=(.*[\W]){1,})(?!.*\s).{8,}$" type="password" class="input" name="password" placeholder="Password" class="form-control" ngModel>
     </div>
  </div>
  <div *ngIf="passUser.touched">
     <div class="abc" *ngIf="passUser.errors?.required" style="margin-bottom: 0px">
        Password is required!
     </div>
     <div class="abc" *ngIf="passUser.errors?.pattern" style="margin-bottom: 0px">
        Password is invalid!
     </div>
   </div>
  <a style="margin-left: 210px; display: inline;" routerLink="/register">Forgot password?</a>
  <button (click)="gotoHomePage()" type="submit" class="btn btn-success" value="Login" [disabled]="frm2.invalid">Login</button>
   <p style="margin-top: 40px;color: #6b706e;">Have not account yet?</p>
   <a style="margin-left: -5px; display: inline;" routerLink="/register">Create account</a>
</form>
</div>