<div class="row" style="width: 99%">
  <div class="col-md-8" style="margin-top: 10px;margin-left: 18%">
    <div class="card">
      <div style="position: relative; left: 0; top: 0;">
        <img src="../../../assets/wallpaper2.jpg" height="50%" width="100%" style="position: relative;top: 0;left: 0;"/>
        <img mat-card-image [src]="_d.bypassSecurityTrustUrl(imgsrc)" 
        style="border-radius: 50%;position: absolute;top: 50%;left: 7%;width: 20%;height: 70%" width="70px" alt="User Photo" class="mat-card-image center">
        <img src="../../../assets/user2.png" (click)="openDialog()" alt="" style="height: 38px;cursor: pointer;position: absolute;top: 0px;left: 93%;">
        <p style="font-size: 22px;font-weight: 500;color: white;position: absolute;top: 75%;left: 29%;">{{currentData.name}}</p>
        <input hidden type="file" #uploader accept="image/*" (change)="onSelectFile($event)">
        <img (click)="uploader.click()" src="../../../assets/edit.png" alt="" style="cursor: pointer;width:25px;position: absolute;top: 106%;left: 23%;">
      </div>
      
      <div class="row" style="margin-top: 60px;">
          <div class="col-md-6">
          <label style="font-weight: 500;font-size: 18px;margin-left: 20px;">Company Name</label><label style="margin-left: 20px;max-width: 50%;">{{currentData.companyName}}</label>
          <hr style="margin-top: 5px;margin-bottom: 5px;margin-left: 20px;">
          <label style="font-weight: 500;font-size: 18px;margin-left: 20px;margin-right: 20px">Company Info</label><label style="margin-left: 20px;">{{currentData.companyInfo}}</label>
          <hr style="margin-top: 5px;margin-bottom: 5px;margin-left: 20px;">
      </div>

      <div class="col-md-6" >
        <label style="font-weight: 500;font-size: 18px;padding-bottom: 1px">My details</label>
        <hr style="margin-top: 5px;margin-bottom: 5px;margin-right: 20px;">
        <label style="color: rgb(129, 129, 129)">Username</label><label style="margin-left: 80px;max-width: 50%;">{{currentData.username}}</label>
        <hr style="margin-top: 5px;margin-bottom: 5px;margin-right: 20px;">
        <label style="color: rgb(129, 129, 129)">Email</label><label style="margin-left: 113px;max-width: 50%;">{{currentData.email}}</label>
        <hr style="margin-top: 5px;margin-bottom: 5px;margin-right: 20px;">
        <label style="color: rgb(129, 129, 129)">Mobile number</label><label style="margin-left: 45px;max-width: 50%;">{{currentData.mobileNumber}}</label>
        <hr style="margin-top: 5px;margin-bottom: 5px;margin-right: 20px;">
        <label style="color: rgb(129, 129, 129)">Address</label><label style="margin-left: 95px;max-width: 50%;">{{currentData.address}}</label>
        <hr style="margin-top: 5px;margin-bottom: 5px;margin-right: 20px;">
        <label style="color: rgb(129, 129, 129)">City</label><label style="margin-left: 127px;max-width: 50%;">{{currentData.city}}</label>
        <hr style="margin-top: 5px;margin-bottom: 5px;margin-right: 20px;">
        <label style="color: rgb(129, 129, 129)">Registration Id</label><label style="margin-left: 52px;max-width: 50%;">{{currentData.registrationId}}</label>
        <hr style="margin-top: 5px;margin-bottom: 5px;margin-right: 20px;">
      </div>
      </div>

    </div>
  </div>
</div>
