.mat-elevation-z8 {
    width: 100%;
    height: 100%;
  }
  .listofpharma{
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 13px;
    margin-bottom: 13px;
    min-height: 90%;
    font-family: 'Poppins', sans-serif;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }