<!-- 
<mat-card class="bookorder">
<mat-card-header>
  <mat-card-title>Book Order</mat-card-title>
</mat-card-header>
<mat-card-contents>
 <p> Hello World.</p>
</mat-card-contents>
</mat-card> -->
<!-- <div>
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div> -->
<!-- <div>
<mat-form-field appearance="fill">
  <mat-label>Manufacturer Name:</mat-label>
</mat-form-field>
</div> -->

<mat-card class="bookorder">
  <mat-card-title>
    Book Order  
  </mat-card-title> 
<mat-card-content>
<p>
  <mat-form-field>
   <input type="text" matInput placeholder="Manufacturer Name">
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Product ID">
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Product Name">
  </mat-form-field>
</p>
<p>
  <mat-form-field>
   <input type="text" matInput placeholder="Quantity">
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Amount">    
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Total Amount"> 
  </mat-form-field>
</p>
</mat-card-content>
<mat-card-actions align="end">
  <button mat-flat-button>
    Book Order
  </button>
</mat-card-actions>
</mat-card>
