<mat-card class="bookorder">
  <mat-card-title>
    Book Order  
  </mat-card-title> 
<mat-card-content>
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Manufacturer Name">
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Product ID">
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Product Name">
  </mat-form-field>
</p>
<p>
  <mat-form-field>
   <input type="text" matInput placeholder="Quantity">
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Amount">    
  </mat-form-field>
</p>
<p>
  <mat-form-field>
    <input type="text" matInput placeholder="Total Amount"> 
  </mat-form-field>
</p>
</mat-card-content>
<mat-card-actions align="end">
  <button>
    Book Order
  </button>
</mat-card-actions>
</mat-card>
